
.flex {
	display: flex;
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.height-minus-navbar {
	height: calc(100vh - 3.25rem);
}

.is-primary {
	color: #007cba;
}
.has-background-primary {
	background-color: #007cba !important;
}

.navbar.is-primary .navbar-end .navbar-link.is-active,
.navbar.is-primary .navbar-end .navbar-link:focus,
.navbar.is-primary .navbar-end .navbar-link:hover,
.navbar.is-primary .navbar-end>a.navbar-item.is-active,
.navbar.is-primary .navbar-end>a.navbar-item:focus,
.navbar.is-primary .navbar-end>a.navbar-item:hover,
.navbar.is-primary .navbar-start .navbar-link.is-active,
.navbar.is-primary .navbar-start .navbar-link:focus,
.navbar.is-primary .navbar-start .navbar-link:hover,
.navbar.is-primary .navbar-start>a.navbar-item.is-active,
.navbar.is-primary .navbar-start>a.navbar-item:focus,
.navbar.is-primary .navbar-start>a.navbar-item:hover,
.navbar.is-primary .navbar-brand>a.navbar-item:hover,
.navbar.is-primary .navbar-brand>a.navbar-item:focus,
.navbar.is-primary .navbar-item.has-dropdown:focus .navbar-link,
.navbar.is-primary .navbar-item.has-dropdown:hover .navbar-link {
	background-color: #006ba1;
}
.navbar.is-primary .navbar-end>a.navbar-item:hover,
.navbar.is-primary .navbar-end>a.navbar-item:focus {
	background: none;
}

.notification-toast {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	max-width: 512px;
	margin: 4em auto 0;
	z-index: 100;
}

#odgovori {
	text-align: center;
}

#odgovori .button {
	width: 150px;
	margin: 0 1em 0 0;
}

#odgovori .selected {
	font-weight: 700;
}
#odgovori .unselected {
	opacity: 0.5;
}

#prisotni-delegati,
#rodovi li,
#obmocja li {
	margin-left: 1em;
}

#prisotni-delegati div {
	display: inline-block;
	margin: 0.125em 0.25em;
	padding: 0.25em 0.75em;
	border-radius: 5px;
	color: white;
}

#prisotni-delegati div.has-background-success:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f058";
	margin-right: 0.5em;
}
#prisotni-delegati div.has-background-danger:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f057";
	margin-right: 0.5em;
}
#prisotni-delegati div.has-background-info:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f056";
	margin-right: 0.5em;
}
.rezultati-tabela {
	width: 100%;
	min-width: 512px;
	table-layout: fixed;
}

@media screen and (max-width: 768px) {
	#odgovori .button {
		width: 100%;
		margin: 0.5em 0;
	}
	.rezultati-tabela {
		min-width: auto;
	}
	.rezultati-tabela tr {
		display: block;
		float: left;
		width: 50%;
	}
	.rezultati-tabela th, .rezultati-tabela td {
		display: block;
	}
}